body {
  background-color: #bbf1ef;
}

h2 {
  border: 3px solid white;
  border-radius: 20px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  width: 300px;
}

div {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.picture {
  border-radius: 100%;

}

.button {
  display: block;
  /* block 요소로 만들어서 */
  width: 300px;
  /* 너비 지정 */
 
  /* 좌우 여백 자동으로, 즉 가운데 정렬 */
  height: 50px;
  line-height: 50px;
  /* 텍스트 세로 가운데 정렬 */
  background-color: pink;
  border-radius: 20%;
  color: black;
  text-align: center;
  /* 텍스트 가운데 정렬 */
  border: 1px solid white;
  cursor: pointer;
  text-decoration: none;


}

ul {
  list-style: none;
  padding: 0px;
   margin: 0 auto;

}


li {
  display: block;
  margin: 20px;
  height: 200px;
}

a{
  text-decoration: none;
  color: white;
  
}