.book{
    height: 20px;
    width: 150px;
}

#bookList th{
    border: 1px solid gray;
    width: 200px;
    background-color: lightgray;
    text-align: center;

}

table, table th {
    margin-top: 20px;
    border-collapse: collapse;
    max-width: 510px;
}


th, td{
    border: 1px solid #ccc;
    padding: 8px;
}

#tableTitle{
    width: 20px ;
}

